.countries {
  display: flex;
}

/* Add your own CSS code below */

.countries--first {
  align-items: flex-end;
  justify-content: right;
}

.countries--second {
  align-items: flex-end;
  justify-content: center;
}
.countries--second .country--brazil {
  order: 5;
}
.countries--second .country--croatia {
  order: 4;
}
.countries--second .country--ethiopia {
  order: 3;
}
.countries--second .country--laos {
  order: 2;
}
.countries--second .country--uganda {
  order: 1;
}

.countries--third {
  align-items: flex-start;
}
.countries--third .country--brazil {
  align-self: flex-end;
}

.countries--fourth {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.countries--fourth .country--ethiopia {
  align-self: center;
}

.countries--fourth .country--laos {
  align-self: center;
}

.countries--fifth {
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-around;
}

.countries--fifth .country--brazil {
  order: 1;
}
.countries--fifth .country--croatia {
  order: 1;
}
.countries--fifth .country--ethiopia {
  order: 2;
}
.countries--fifth .country--laos {
  order: 5;
}
.countries--fifth .country--uganda {
  align-self: center;
  order: 4;
}
